
CodingAssignment01/.Rproj.user/shared/notebooks/paths
CodingAssignment01/.Rproj.user/shared/notebooks/patch-chunk-names
CodingAssignment01/.Rproj.user/shared/notebooks/A4E50501-CodingAssignment1/1/s/chunks.json
CodingAssignment01/.Rproj.user/shared/notebooks/A4E50501-CodingAssignment1/1/CA2E552473207BC6/chunks.json
CodingAssignment01/.Rproj.user/CA2E5524/sources/prop/INDEX
CodingAssignment01/.Rproj.user/CA2E5524/sources/prop/9B08DF8C
CodingAssignment01/.Rproj.user/CA2E5524/sources/per/u/5F20543E-contents
CodingAssignment01/.Rproj.user/CA2E5524/sources/per/u/5F20543E
CodingAssignment01/.Rproj.user/CA2E5524/sources/per/t/7D13464A-contents
CodingAssignment01/.Rproj.user/CA2E5524/sources/per/t/7D13464A
CodingAssignment01/.Rproj.user/CA2E5524/saved_source_markers
CodingAssignment01/.Rproj.user/CA2E5524/rmd-outputs
CodingAssignment01/.Rproj.user/CA2E5524/pcs/workbench-pane.pper
CodingAssignment01/.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
CodingAssignment01/.Rproj.user/CA2E5524/pcs/source-pane.pper
CodingAssignment01/.Rproj.user/CA2E5524/pcs/files-pane.pper
CodingAssignment02/.Rproj.user/CA2E5524/sources/prop/8D7050A4
CodingAssignment02/.Rproj.user/CA2E5524/sources/prop/INDEX
CodingAssignment02/.Rproj.user/CA2E5524/sources/s-2019D230/5D2F21E9-contents
CodingAssignment02/.Rproj.user/CA2E5524/sources/s-2019D230/A64B3A10
CodingAssignment02/.Rproj.user/CA2E5524/sources/s-2019D230/A64B3A10-contents
CodingAssignment02/.Rproj.user/CA2E5524/sources/s-2019D230/lock_file
CodingAssignment02/.Rproj.user/shared/notebooks/99C01F9C-CodingAssignment2/1/CA2E55242019D230/chunks.json
CodingAssignment02/.Rproj.user/shared/notebooks/99C01F9C-CodingAssignment2/1/s/chunks.json
CodingAssignment02/.Rproj.user/shared/notebooks/99C01F9C-CodingAssignment2/1/s/csetup_chunk/00000f.csv
CodingAssignment02/.Rproj.user/shared/notebooks/patch-chunk-names
CodingAssignment02/.Rproj.user/shared/notebooks/paths
